@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300,900,400,500,600,700&display=swap");

@font-face {
  font-family:VALORANT ;
  src: url(valorant/Valorant\ Font.ttf)format("truetype");
}

:root {
  --step--3: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
  --step--2: clamp(1rem, 0.94rem + 0.12vw, 1.11rem);
  --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
  --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
  --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
 
  position: relative;
  scroll-behavior: smooth ;
  font-size: var(--step-0);


}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  font-family: valorant!important ;

}

section{
  background: rgb(82, 81, 81);
  height: min(100vh,1000px);
  width: min(95%, 1980px);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  margin-inline: auto;
}

.section{
  width: 90%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  position: relative;
  
}

.nav{
flex: 90%;
z-index: 1;
}
.hero-container{
width: 600px;
height: 100%;
 position: absolute;
left: 0;
right: 0;
margin:  0 auto;
z-index: 0;
background: url(me.png);

background-size: cover;
z-index: 99999;

animation: glitch 3s linear infinite;
filter: sepia(16%) saturate(85%) contrast(115%);
-webkit-filter: sepia(16%) saturate(85%) contrast(115%);
-moz-filter: sepia(16%) saturate(85%) contrast(115%);
}


@keyframes glitch {
  2%,64%{
    transform: translate(1px,0)skew(0deg);
 
  }
  4%,60%{
    transform: translate(1px,0)skew(0deg);
  }
  62%{
    transform: translate(0,0)skew(1deg);
  }
}

.hero-container::before{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(me.png);
  background-size: cover;
  mix-blend-mode: hard-light;
  opacity: .5;
  
  
} 



.hero-container:hover::before{
 
  animation: animates .2s linear infinite,
  delay-animation 1s ease-in-out infinite;

}






@keyframes animates {
  

	0%{
    background-position: 0 0;
    filter:hue-rotate(0deg);
    }
    10%{
    background-position: 5px 0;
    }
    20%{
    background-position: -5px 0;
    }
    30%{
    background-position: 15px 0;
    }
    40%{
    background-position: 5px 0;
    }
    50%{
    background-position: -25px 0;
    }
    60%{
    background-position: -15px 0;
    }
    70%{
    background-position: 0 -20px;
    }
    80%{
    background-position: -20px -20px;
    }
    81%{
    background-position: 0 0;
    }
    100%{
    background-position: 0 0;
    filter:hue-rotate(360deg);
    }




}

@keyframes delay-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
} 

/* .hero-container img{
  width: 100%;
  height: 100%;
} */
.hero-text{
  flex: 50%;
 
}

.hero-text .title {
  display: flex;
  flex-direction: column;
}

.hero-text .title .static-text {
  font-size: var(--step-4);
  font-weight: 700;
  color: #fff;
  margin: 0;
  
}
.hero-text .title .h {
  margin-bottom: 1rem;
  font-weight: 700;
}

.hero-text p {
  font-size: var(--step--2);
  text-align: justify;
  color: #fff;
  font-family: "Poppins", sans-serif;
}



/* nav */



.nav ul {
  position: relative;
}
.section .nav ul li {
  position: relative;
  list-style: none;
  padding: 0 1rem;
  margin: 1rem 0;
  overflow: hidden;
  display: table;
  
}

.section .nav ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(52, 53, 51);
  transition: transform 0.5s ease-in-out;
  transform: scaleY(0);
  transform-origin: bottom;
}

.section .nav ul li:hover:before {
  transition: transform 0.5s ease-in-out;
  transform: scaleY(1);
  transform-origin: top;
}

.section .nav ul li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: var(--step-4);

  font-weight: 900;
  line-height: 1;
  padding-top: 1rem;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.section .nav ul li a::before {
  content: attr(data-text);
  position: absolute;
  bottom: -100%;
  left: 0;
  color: #fff;
}

.section .nav ul li:hover a {
  transform: translateY(-100%);
  color: #fff;
}



.active {
  background: rgb(52, 53, 51);
}

/*  */
.typing {
  border-right: 0.1em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* skill section */




.skill {
  width: min(100%, 1980px);
margin: 0;
 

  display: flex;
justify-content: center;
padding-right: 0!important;
align-items: flex-end;
background: rgb(202, 200, 200);
justify-content: space-between;
  
}



.skill .other-skill{
  display: flex;
  flex-direction: column;
  
  height: 100%;
  justify-content: flex-end;
width: 40%;

}

.skill .other-skill .sc {
  display: flex;
 

 width: 90%;



}
.skill .other-skill .sc  div{
  white-space: nowrap;
  animation: askill 60s linear infinite;
  animation-delay: -60s;
}

.skill .other-skill .sc  div:nth-child(2){
  white-space: nowrap;
  animation: askill2 60s linear infinite;
  animation-delay:-30s ;
}


.skill .other-skill .sc  div span{
 
  font-size: var(--step-5);
}



@keyframes askill {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes askill2 {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-200%);
  }
}



.skill-c {
  width: 80%;
  position: relative;
height: 100%;
  
 background: url(s2.png);
 background-size:cover;
background-position: center;
 background-repeat: no-repeat;

}

.skill-container .img img {
  width: 120px;
  height: 150px;
  position: absolute;

  background: transparent;
}

.skill .skill-container {
  width: 150px;
  height: 200px;
  position: absolute;
  top: 22%;
  left: 8%;

  z-index: 999;

  perspective:900px;
  transform-style: preserve-3d;
  transform: rotateX(-5deg) rotateZ(-5deg);
  background: transparent;
  animation: ror 20s linear infinite;

}

.skill .skill-img {

}

/* .skill .skill-img img {
  width: 100%;
  

} */

.skill-container .img {
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotate 20s linear infinite;
}
@keyframes rotate {
  from {
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes ror {
  50% {
    transform: rotateX(10deg);
  }
  80% {
    transform: rotateX(-10deg);
  }
}

.skill-container .img img:nth-child(1) {
  transform: rotateY(60deg) translateZ(300px);
}
.skill-container .img img:nth-child(2) {
  transform: rotateY(120deg) translateZ(300px);
}
.skill-container .img img:nth-child(3) {
  transform: rotateY(180deg) translateZ(300px);
}
.skill-container .img img:nth-child(4) {
  transform: rotateY(240deg) translateZ(300px);
}
.skill-container .img img:nth-child(5) {
  transform: rotateY(300deg) translateZ(300px);
}
.skill-container .img img:nth-child(6) {
  transform: rotateY(360deg) translateZ(300px);
}

/* work */

.work {
 

  display: flex;
  align-items: center;
}

.work .my-work {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 90%;
  gap: 1rem;
}
.work .my-work img:nth-child(1) {
  width: min(90%, 600px);
}
.work .my-work img:nth-child(2) {
  width: min(90%, 200px);
}

.work .my-work .work-details {
  width: 500px;
}

.work .my-work .work-details h1 {
  font-size: var(--step-4);
}
.work .my-work .work-details p {
  font-size: var(--step--1);
}
.work .my-work .work-details button i {
  background: transparent;
  font-size: 25px;
}
.work .my-work .work-details button a {
  text-decoration: none;
  color: inherit;
  font-size: var(--step--2);
}

/*  contacts*/

.contacts {
  width: min(100%, 1980px);

  display: flex;
  align-content: center;
}
.contacts .contacts-container {
  
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-inline: auto;
  align-items: center;
}
.contacts .contacts-container .form {
  margin: auto 0;
}




/* footer */

.footer {
  width: 100%;
  margin-inline: auto;
  color: #fff;
  z-index: 999;
  background: rgb(32, 32, 31);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footer-container .col-sm h4 {
  font-size: var(--step--1);
}

.footer .footer-container .col-sm p {
  font-size: var(--step--2);
}

.footer .footer-container .col-sm ul li {
  list-style: none;
}
.footer .footer-container .col-sm ul li p {
  margin-bottom: 10px;
}

.footer .social {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.fa-facebook {
  color: #4064ac;
}

.fa-envelope-open {
  color: #bd392b;
}

.fa-twitter {
  color: #329cea;
}

.fa-mobile-alt {
  color: beige;
}


/* 
sticky nav

*/




.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
 
 width: 100%;
 margin: 0 ; 
}

.sticky {
  width: 100%;
  height: 60px;
  background: #292f36;
  /* postion: fixed; */
  z-index: 3333;
  width: min(95%, 1980px);
  margin-inline: auto;
}

.sticky div {
  color: white;
  font-size: 2rem;
  line-height: 60px;
  position: absolute;
  top: 0;
  left: 2%;
  visibility: hidden;
}


nav ul { 
  list-style-type: none;
  margin: 0 2% auto 0;
  padding-left: 0;
  text-align: right;
  max-width: 100%;
}
nav ul li { 
  display: inline-block; 
  line-height: 60px;
  margin-left: 10px;
}
nav ul li a {
  text-decoration: none; 
  color: #a9abae;
}



@media only screen and (max-width: 960px) {
  .content{ 
      padding: 2rem 0;
  }
  article {
      float: none;
      margin: 0 auto;
      width: 96%;
  }
  article:last-of-type {  
      margin-bottom: 3rem;
  }
  aside {  
      float: none;
      text-align: center;
      width: 100%;
  }
}


/* nav active */


nav {
  position: sticky;
  top: 0;
  background-color: #c4c3be;
 max-width: 100%;
  z-index: 3333;
  width: min(95%, 1980px);
  margin: 0 auto;
  font-family: "Poppins", sans-serif;

  }
  nav .container {
    max-width:50%!important;


  padding: 10px;

  }

  nav .container ul {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
  }
  nav .container ul li {
  margin: 0;

  padding: 0;
  border-radius:5px;
  }
  nav .container ul li a {
 
  text-decoration: none;
width: 100%;
  color: black;
  margin: 0;

  padding: 0;
  }


  nav .container ul li.act {
  background-color: #212124;
padding: 0 1rem;


  }
  nav .container ul li.act a {
  color: #ffffff;
  transition: 0.3s;
  }